{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button class="nav__button" id="back">
            <img width="25px" height="24px" src="/svg/nav_back.svg">
        </button>
        <button class="nav__button" id="forward">
            <img width="25px" height="24px" src="/svg/nav_forward.svg">
        </button>
        <button class="nav__button" id="reload">
            <img width="25px" height="24px" src="/svg/nav_reload.svg">
        </button>
        <button class="nav__button" id="home">
            <img width="25px" height="24px" src="/svg/nav_home.svg">
        </button>
        <input type="text" class="nav__input" id="input">
        <button class="nav__button" id="go">
            <img width="30px" height="28px" src="/svg/nav_go.svg" alt="">
        </button>
    </nav>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}